/* logo for navbar  */

.logo{
    height: 59px;
    width: 198px;
    padding: 5px;
}


/* generic-button */
.btn{
    border: none;
    border-radius: 30px;
    background-color: #21B573;
    margin-top: 0;
    margin-left: 5px;
    padding: 8px 20px;
    color: white;
}


/* header  */

.header-img{
    padding: 30px;
}

.header-info h5{
    color: #FD511A;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.header-info h1{
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}


/* card box model - infos */

.box{
    margin-top: 90px;
    height: 230px;
    width: 230px;
    border: none;
    background-color: #f8fffb;
    border-radius: 10px;
    box-shadow: 5px 5px 30px lightgrey;
}


.box:hover{
    background-color: white;
    box-shadow: 10px 10px 5px lightgrey;
}


/* card box model - courses  */

.box1{
    margin-top: 30px;
    height: 230px;
    width: 230px;
    border: none;
    background-color:white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgrey;
}


.img-info{
    width: 66px;
    height: 75px;
    margin: 40px 82px;
}

.courses{
    margin-top: 30px;
}

.courses img{
    width: 311px;
    height: 214px;
    margin-left: 19px;
    margin-top: 20px;
}


.card-footer{
    margin-top: none;
    background-color: white;
    border-top: none;
}

.card{
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightgrey;
}

.courses{
    margin-top: 100px;
}

.courses h3{
    text-align: center;
    margin-bottom: 70px;
}

.card-body{
    padding-left: 30px;
}



/* footer elements  */

.footer-icon img{
    height: 20px;
    width: 20px;
    margin-bottom: 20px;
}

.footer-icon small{
    font-size: 15px;
}

/* .testimonial{
    padding-top: 70px;
} */


/* testimonial  */

.testimonial img{
    height: 90px;
    width: 110px;
    margin-top: 40px;
    margin-left: 120px;
}

.testimonial-texts{
    margin-top: 40px;
    /* margin-right: 30px; */
}

.testimonial{
    margin-top: 150px;
}

.testimonial h3{
    text-align: center;
    margin-bottom: 40px;
}


/* subscription */

.subscribe{
    margin-top: 100px;
}

.subscribe h3, h6{
    font-family: 'Poppins', sans-serif;
}


footer ul li{
    list-style: none;
    /* color: white; */
}

footer ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.footer-preference{
    margin-top: 70px;
    background-color:#282531;
}

.footer-preference p{
    color: white;
    padding-top: 30px;
}

.footer-copyright{
    color: white;
}


/* social media anchors  */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }